.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  font-family: 'Varta', sans-serif;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background-color: #607d8b;
  border: none;
  padding: 10px 20px;
  color: #eceff1;
}
.text{
  text-align: center;
}

.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}